body {
    background-image: url(imgtelalog.jpg); background-repeat: no-repeat; background-size: 1500px 700px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    cursor: pointer;
}

.banner {
    height: 2px;
    background-image: url("imgtelalog.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    }
    
.banner .card {
    background-color: #ffffff;
    width: 500px;
    height: 600px;
    text-align: center;
    border-radius: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .titulo {
    font-family:'Anybody', cursive;
    font-size: 16px;
    font-weight: bold;
    color: rgb(66, 65, 65);
}

.btn {
    margin-top: 50px;
    background-color:#3a65b0;
    color: #ebe7e7;
    border: 0px;
}

input {
    border: 0px;
    border-bottom: 1px solid #343434;
    width: 100%;
    margin-top: 64px;
    font-size: 16px;
    outline: 0px;
    }

.inputs-login{
    display: flex;
    flex-direction: column;
    width: 75%;
    }

.buttons-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;        
    }


.btn2 {
    margin-top: 24px;
    color: #343434;
    padding: 16px 60px 16px 60px;
    border-radius: 8px;
    border: 2px solid #343434;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px #00000070;
}

.btnGeral{
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 0px;
}    

.hrefvoltar {
    margin-top: 30px;
    color: #3a65b0;
}