<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="./css/login_page.css">
</head>

<body>


    </ul>
    <div class="banner">

        <div class="container">

            <div class="card">
                <div class="content">
                </div>
                <h1 class="titulo">Acesso</h1>

                <div class="inputs-login">
                    <input id="in_email" type="text" placeholder="Informe seu email">
                    <input id="in_password" type="password" placeholder="Informe sua senha">
                    <div id="checkbox">
                        <img id="password_image" src="assets/hidePassword.png"
                            style="height: 10px;" onclick="mostrarSenha()" alt="hide">
                    </div>
                </div>

                <div class="buttons-login">
                    <button class="btn btnGeral" onclick="login()">Entrar</button>
                    <a class="btn2 btnGeral" href="/cadastro1">Cadastre-se</a>
                    <a class="hrefvoltar" href="/">Voltar</a>
                </div>
            </div>



        </div>

    </div>
    </div>

</body>

</html>
<script>
    function mostrarSenha() {
        
        if (in_password.type == "password") {
            password_image.src = "assets/showPassword.png"
            in_password.type = "text"
        } else {
            password_image.src = "assets/hidePassword.png"
            in_password.type = "password"
        }
    }


    function login () {
        var emailVar = in_email.value;
        var senhaVar = in_password.value;

        console.log("FORM LOGIN: ", emailVar);
        console.log("FORM SENHA: ", senhaVar);

        fetch("/usuario/logar", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                emailServer: emailVar,
                senhaServer: senhaVar
            })
        }).then(function (resposta) {
            console.log("Estou no then do login")

            if (resposta.ok) {
                console.log(resposta);

                resposta.json().then(json => {
                    console.log(json);
                    console.log(JSON.stringify(json));
                    sessionStorage.EMAIL_USUARIO = json.email;
                    sessionStorage.NOME_USUARIO = json.nome;
                    sessionStorage.ID_USUARIO = json.id;

                    console.log("Tudo certo")
                    alert(1)
                    window.location = "/"

                });

            } else {
                console.log("Houve um erro ao tentar realizar o login!");
            alert(2)
                resposta.text().then(texto => {
                    console.error(texto);
                });
            }

        }).catch(function (erro) {
            alert(3)
            console.log(erro);
        })

        return 0;
    }
</script>