<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="css/register_page1.css">

</head>

<body>
    </ul>
    <div class="banner">

        <div class="container">

            <div class="card">
                <h1 class="titulo">Registro</h1>

                <div class="inputs-login">

                    <input id="in_empresa" type="text" placeholder="Nome da empresa">

                    <input id="in_cnpj" type="text" placeholder="Cnpj">


                </div>

                <div class="buttons-login">
                    <button class="btn btnGeral" onclick="cadastrarEmpresa()">Próximo</button>
                    <a href="/login" class="btn2 btnGeral">Já possui uma conta? Login</a>
                    <a class="hrefvoltar" href="/">Voltar</a>
                </div>

            </div>

        </div>
    </div>

</body>

</html>
<script>
    function cadastrarEmpresa() {
        alert(1)
        var empresa = in_empresa.value
        var cnpj = in_cnpj.value

        if (empresa == "" || cnpj == "") {
            alert("Nome vazio")
        } else {

            fetch('/usuario/cadastrarEmpresa', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    empresaServer: empresa,
                    cnpjServer: cnpj
                })
            }).then((resposta) => {
                console.log("Resposta: " + resposta)
                if (resposta.ok) {
                    console.log("Tudo certo")
                    window.location = "https://www.youtube.com/shorts/v_phnakxnBw"
                } else {
                    throw ("Houve um erro ao realizar o cadastro.")
                }
            }).catch((resposta) => {
                console.log("Houve um erro no cadastro: " + resposta)
            });
        }
    }
</script>