html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
body {
    background-color: #F7F4FB;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    position: absolute;
    width: 100%;
    height: 90px;
    margin: 0;
    background-color: #F9FDF4;
    box-shadow: 0px 2px 8px #00000070;
}
.container {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
}
.header .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.navbar li:first-child {
    margin-left: 50px;
}
.navbar li:last-child {
    margin-right: 150px;
}
.navbar {
    width: 800px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: #343434;
    display: flex;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
}
.banner {
    height: 800px;
    width: 100%;
    background-image: url(imagens_home/home_page_banner.png);
    background-size: cover;
}
.txt-cta {
    position: absolute;
    color:#fff;
    text-align: left;
    top: 230px;
    width: 600px;
    font-size: 32px;
    font-weight: bold;
}
a.cta {
    margin-top: 30px;
    background-color: #6dc740;
    color: #ffffff;
    padding: 16px 50px 16px 50px;
    border-radius: 8px;
    border: 0px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    box-shadow: 2px 2px 8px #00000070;
    border: 2px solid #6dc740;
}
a.btn {
    margin: 0px;
    color: #5dc12b;
    padding: 16px 40px 16px 40px;
    border-radius: 8px;
    border: 0px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.btn:hover {
    box-shadow: 2px 2px 8px #00000070;
    background-color: #6dc740;
    color: #ffffff;
}
.navbar li {
    margin: 16px;
}
a.btn:link {
    color: #ffffff;
    text-decoration: none;
}
a.cta:hover {
    background-color: #5dc12b;
    border: 2px solid #343434;
}
a.a1:link {
    color: #343434;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 24px;
}
a.a1:visited {
    color: #343434;
    text-decoration: none;
    padding: 24px;
}
a.a1:hover {
    font-weight: bold;
    background-color: #d0e2eaab;
    color: #2c7da2;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 24px;
}
.valores {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #E3F3F9;
    justify-content: space-evenly;
    align-items: center;
}

/* Rodapé */

.rodape {
    width: 100%;
    height: 400px;
    background-color: #505050;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_rodape {
    height: 50px;
    width: 242px;
    margin: 10px;
}
.container_rodape {
    height: 90%;
    width: 80%;
    border: 2px solid red;
    display: flex;
}
.contato {
    border: 2px solid red;
    background-color: #2c7da2;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.informacoes_contato{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contato_imagem{
    width: 65%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contato_imagem img{
    height: 20px;
}

#imagem_telefone{
    height: 25px;
}
.contato_imagem span{
    font-size: 20PX;
    margin-left: 5%;
}
.redes_sociais_imagens{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.contato h2{
    margin-left: 2%;
}


.redes_sociais_imagens img{
    height: 40px;
}

.pags {
    border: 2px solid red;
    background-color: #5dc12b;
    width: 35%;
    display: table-column;
}
.legal {
    border: 2px solid red;
    background-color: #F7F4FB;
    width: 35%;
    display: table-column;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
a.cta_rodape {
    background-color: #6dc740;
    color: #ffffff;
    padding: 16px 50px 16px 50px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 2px 2px 8px #00000070;
    border: 2px solid #6dc740;
}
a.cta_rodape:hover {
    background-color: #5dc12b;
    border: 2px solid #343434;
}