body {
    background-color: #D2F3AF;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: #ffffff;
    width: 500px;
    height: 600px;
    text-align: center;
    border-radius: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo {
    width: 80%;
}
input {
    border: 0px;
    border-bottom: 1px solid #343434;
    width: 100%;
    margin-top: 64px;
    font-size: 16px;
    outline: 0px;
}
button{
    cursor: pointer;
}
.botoes {
    display: flex;
    justify-content: space-evenly;
}
.btn1 {
    margin-top: 24px;
    color: #ffffff;
    padding: 16px 40px 16px 40px;
    border-radius: 8px;
    border: 2px solid #2C7DA2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #2C7DA2;
    box-shadow: 2px 2px 8px #00000070;
}
.btn2 {
    margin-top: 24px;
    color: #343434;
    padding: 16px 40px 16px 40px;
    border-radius: 8px;
    border: 2px solid #343434;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px #00000070;
}
.btn1:hover {
    background-color: #156E98;
}
.btn2:hover {
    background-color: #E7E7E7;
}
.msg_empresa{
    outline: 0px;
    border: 1px solid #343434;
    border-radius: 4px;
}